{% extends "base.html" %}
{% block body-content %}

<div class="container">
    <form  action="/home/" method="POST">
        {% if messages %}
        {% for message in messages %}

                        {{ message }}
        {% endfor %}
        {%endif%}
                              {% csrf_token %}

                            {{form.as_p}}

                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-success">submit</button>
                    </div>
                  </form>
    {% endblock body-content %}
