{% extends "base.html" %}
{% block body-content %}

{% if request.user.is_authenticated %}
    <button><a href="{% url 'logout' %}">logout</a></button>
    <button><a href="{% url 'ChangePassView' %}">ChangePassView</a></button>


                  <form  action="" method="POST" novalidate>
                                {% csrf_token %}
                                <div class="form-goup m" >
                                    <div class="single-input-item">
                                      {{ form.as_p }}
                                    </div>

                                    <div class="single-input-item mb-5">
                                        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body ">submit</button>

                                    </div>
                                </div>
                            </form>
{% endif %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
        <th scope="col">Action</th>


    </tr>
  </thead>
  <tbody>
      {% for x in data %}

    <tr>
      <th scope="row">1</th>
      <td>{{x.title}}</td>
      <td>{{x.descripation}}</td>
      <td>{{x.date}}</td>
        <td><a  class="btn btn-success" href="{% url 'update' x.id %}">update</a>
            <a  class="btn btn-danger"href="{% url 'delete' x.id %}">delete</a></td>

    </tr>
    {% endfor%}

  </tbody>

</table>
{% endblock body-content %}