
{% extends 'base.html' %}
{% block body-content %}


                                <h5>Password Reset</h5>
                            <form method="POST" novalidate>
                                {% csrf_token %}
                                <div class="form-goup m" >
                                    <div class="single-input-item">
                                      {{ form.as_p }}
                                    </div>

                                    <div class="single-input-item mb-5">
                                        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body ">Register</button>

                                    </div>
                                </div>
                            </form>
{% endblock body-content %}
